
log/
aux/
scrap/
*/filesummaries/

*.DS_Store*
*backups-nvim*
*backups-old_nvim*
*.backups*
*__pycache__*

*.pyc
config.py
*.xml
*.bz2
!40k-initial.xml

*.pickle

*.db
*.db-journal
*.db-wal
*.db-shm
*.wordvectors
*index.html
*.db.*
*tags*
*.egg-link*
*radix.egg-info*

profile.html
profile.json

DBs/


